<!-- LUXURY CONTACT POPUP -->
<div id="contact-popup" class="contact-popup">
    <div class="contact-popup-inner">
        
        <button class="contact-close">&times;</button>

        <h2 class="contact-title gold-gradient-text">Contatti</h2>

        <p class="contact-aforisma">
           «Ogni incontro comincia da un varco silenzioso.<br>
            Se desideri attraversarlo, mi trovi qui.»
        </p>

     

        <a href="mailto:maruth.rein@gmail.com" class="contact-email">
            <i class="fa-solid fa-envelope"></i>
            maruth.rein@gmail.com
        </a>

        <div class="contact-socials">
            <a href="https://www.facebook.com/yogimao/" target="_blank"><i class="fa-brands fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/maruth.rein/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://t.me/yogimao" target="_blank"><i class="fa-brands fa-telegram"></i></a>
            <a href="https://www.linkedin.com/in/maruth-rein-29402b268/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
            <a href="https://maruthrein.github.io/" target="_blank"><i class="fa-brands fa-github"></i></a>
        </div>

    </div>
</div>

