
/* =======================================
   SPAZIATURA ICONE SOCIAL NELL'INTRO
   ======================================= */

.intro header ul.icons {
    /* Aggiunge un po' di spazio sotto le icone, 
       prima che inizi il titolo H1 */
    margin-bottom: 3rem; 
}
