
/* =======================================
   SPAZIATURA ICONE SOCIAL NELL'INTRO
   ======================================= */

.intro header ul.icons {
    /* Aggiunge un po' di spazio sotto le icone, 
       prima che inizi il titolo H1 */
    margin-bottom: 3rem; 
}
/* --- PASSO 1: IMPORTAZIONE FONT (Cormorant Garamond - Corsivo) --- */
/* Importa "Cormorant Garamond" da Google Fonts, peso 600 e stile Italic */
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@1,600&display=swap');


